@page
@model AutoMeagler_s2_v2.Pages.Cars.DeleteCarModel
@{
}

<h1>Delete Confirmation></h1>
<div class="alert alert-danger">
	<h5>Are you sure you want to delete Car - @Model.Car.Model</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Yes</button>
		<a class="btn btn-primary" asp-page="/Cars/AdminCar">No</a>
	</form>
</div>


 